*{
    margin: 0;
    padding: 0;
}

.fixed{
    position: fixed;
    z-index: 999;
    background-color: rgb(253, 253, 252);
    width: 100%;
    top: 0;
}
nav{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavTitle{
    font-size: 30px;
    margin-top: 30px;

}
.navigation{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 17px;
    margin-top: 30px;

}
.navigation li{
    padding: 5px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.a{
    color: black;
    text-decoration: none;
}
.navigation li:hover{
    
    border-bottom: 1px solid black;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.col img{
    width: 600px;
    height: 900px;
    margin-top: 100px;
    margin-left: 300px;
}
form .col{
    margin-left: 150px;
    margin-top: 250px;
    font-size: 20px;
}
.col h2{
    font-size: 40px;
}
.col .name{
   padding: 20px 130px;
background-color: rgb(233, 232, 230);
border: 1px solid gainsboro;

}
.col .lname{
    padding: 20px 130px;
 background-color: rgb(233, 232, 230);
 border: 1px solid gainsboro;
 
 }
 .col .mail{
    padding: 20px 130px;
 background-color: rgb(233, 232, 230);
 border: 1px solid gainsboro;
 
 }
 .col .msg{
    padding: 40px 130px;
 background-color: rgb(233, 232, 230);
 border: 1px solid gainsboro;
 
 }
 .col .btn{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
 }
 .col .btn:hover{
    background-color: rgb(131, 130, 130);
    color: white;
    border: 1px solid rgb(131, 130, 130);
}
footer{
    min-height: 30vh;
    background-color: #000;
    color: #fff
}
.footer_box{
    width:80% ;
    height: 100%;
    margin: 0 auto;
    
}
.footerhead{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    font-size: 15px;
    margin-left: 20px;
    
}
footer h6{
    margin-top: 50px;
    font-size: 20px;
}
 .footerhead .icon2{
    font-size: 10px;
    margin-top: 40px;
}
.form .email{
    
    margin-top: 10px;
}
.form .sub{
    margin-top: 15px;
    
}
