*{
    margin: 0;
    padding: 0;
}

.fixed{
    position: fixed;
    z-index: 999;
    background-color: rgb(253, 253, 252);
    width: 100%;
    top: 0;
}
nav{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavTitle{
    font-size: 30px;
    margin-top: 20px;

}
.navigation{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 17px;
    margin-top: 30px;

}

.navigation li{
    padding: 5px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.a{
    color: black;
    text-decoration: none;
}
.navigation li:hover{
    
    border-bottom: 1px solid black;
}
.text{
    text-align: center;
    margin-top: 150px;
   font-size: 20px;
}
.text .h3{
    margin-top: 70px;
}
.text p{
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
 
}

footer{
    min-height: 30vh;
    background-color: #000;
    color: #fff
}
.black{
    width:80% ;
    height: 100%;
    margin: 0 auto;
    
}
.footerhead{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    font-size: 15px;
   margin-top: 100px;
    
}
.footerhead h6{
    margin-top: 50px;
    font-size: 20px;
}
.link1{
    color: white;
}
.icon1{
    font-size: 10px;
   
}
.form .email{
    height: 30px;
    margin-top: 5px;
}
.form .sub{
    margin-top: 20px;
}